td { font-size: 12pt; line-height: 150%}
td_EN {font-size: 12pt; line-height: 150%}

body {
    font-size: 8pt;
    margin: 0.0em 0 0 0; /*top,left,bottom,right*/
    font-family:"Helvetica";
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

a {
    color: blue;
    text-decoration: none;
}

h1 {
    font-family:"Times New Roman";
    font-size: 24px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-block-start: 0em;
    border-bottom: 1px solid #ddd;
}

h2 {
    font-family:"Times New Roman";
    font-size: 12px;
    padding-bottom: 6px;
    padding-top: 0px;
}

h3 {
    position: relative; background-color: #f6f6f6;  border-radius: 6px;
    padding: .75em 1em .75em 1.5em;
    border: 1px solid #ccc;
}
h3::after {
    position: absolute;
    top: .5em;
    left: .5em;
    content: '';
    width: 6px;
    height: -webkit-calc(100% - 1em);
    height: calc(100% - 1em);
    background-color: #3498db;
    border-radius: 4px;
}

dl {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

dl2 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h_top {
    font-family:"Times New Roman";
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 4px;
}

.img_circle{
    border-radius: 50%;
}
.img_header{
    width: 18px;
    height: 18px;
}

/* --------------------------------------------------------------------------
    Top
 -------------------------------------------------------------------------- */
.Top > img {
    float: left;
    margin: 0 0 0 0;
}

/* --------------------------------------------------------------------------
	Profile
 -------------------------------------------------------------------------- */
.profile > dt {
    float: left;
    margin: 0 1em 0 0;
}
.profile > description {
    margin: 0 0 0 0;
    font-family:"Helvetica";
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 0px;
}
.profile > icons {
    margin: 2 2 2 2;
    padding-bottom: 6px;
    padding-top: 6px;
}

/* --------------------------------------------------------------------------
    Latest News
 -------------------------------------------------------------------------- */
.News > dt {
    font-family:"Areal";
    font-size: 18px;
    float: left;
    margin: 0 0em 0 2.5em;
}
.News > dd {
    font-family:"Helvetica";
    margin: 0 0 0 9.5em;
}


/* --------------------------------------------------------------------------
	CV
 -------------------------------------------------------------------------- */
.cv-items > dt {
    font-family:"Areal";
/*    font-style:italic;*/
    font-size: 18px;
    float: left;
    margin: 0 0 0 1em;
}

.cv-items > dd {
    font-family:"Hiragino Kaku Gothic ProN";
    margin: 0 0 1ex 12.5em;
}

/* --------------------------------------------------------------------------
	publications
 -------------------------------------------------------------------------- */

.pub-items > pdt {
    float: left;
    margin: 0.0em 1em 0em 1em; /* 3番目が高さ下方向のmargin、大きくすると下に影響が */
}
.pub-items > pub_title {
    font-family:"Times New Roman";
    font-size: 18px;
    margin: 2pt 12px 12px 0;
    line-height: 100%;
}
.pub-items > pub_item {
    font-family:"Times New Roman";
    font-size: 16px;
    line-height: 100%;
    margin: 10 0 20 0;
}
.pub-items > journal {
    font-family:"Times New Roman";
    font-size: 12px;
    width: 580px;
    background-color: #f9f6f6;
    padding: 6 10;
    margin: 10 0 0 0;
    float: left;
}
.pub-items > profile {
    font-family:"Helvetica";
    font-size: 16px;
    line-height: 100%;
    margin: 10 0 20 0;
}

/* --------------------------------------------------------------------------
footer
 -------------------------------------------------------------------------- */
.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
footer{
    
    position:absolute;
    bottom:0;
}


